<ion-view view-title="Prop">
    <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
    <ion-tabs class="tabs-positive">
        <ion-tab title="Details">
            <ion-view>
                <ion-content class="padding">
                    <label class="item item-input">
                        <span class="input-label">Name</span>
                        <input type="text" value="{{entity.name}}" placeholder="Ex. Magnifier"/>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Alia(s)</span>
                        <input type="text" value="{{entity.alias}}" placeholder="Ex. Axe,Hammer"/>
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="{{entity.description}}"
                            placeholder="Description" rows="10"></textarea>
                    </label>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>