<ion-view view-title="Props">
    <ion-content class="padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <ion-list ng-controller="propsListCtrl">
            <ion-item ng-repeat="item in items" nav-clear menu-lose href="#/app/prop/{{item.id}}">
                <span class="card" ng-show="detail">
                    <div class="item item-divider">
                        {{item.name}}
                    </div>
                    <div class="item item-text-wrap">
                        {{item.description}}
                    </div>
                </span>
                <span ng-show="!detail">
                    {{item.name}}
                </span>
            </ion-item>
        </ion-list>
    </ion-content>

    <div class="bar bar-footer bar-positive">
        <div class="title">
        List
        <label class="toggle">
            <input type="checkbox" ng-model="detail">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
        Cards
        </div>
    </div>
</ion-view>