<ion-view view-title="Scene">
    <ion-tabs class="tabs-positive">
        <ion-tab title="Prose">
            <ion-view>
                <ion-content class="padding">
                    <label class="item item-input">
                        <span class="input-label">Title</span>
                        <input type="text" value="{{entity.title}}" placeholder="Scene Name"/>
                    </label>
                    <textarea ng-model="{{entity.prose}}"
                        placeholder="Ex. It was the best of..." rows="40"></textarea>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="Summary">
            <ion-view>
                <ion-content class="padding">
                    <textarea ng-model="{{entity.biography}}"
                        placeholder="Ex. Former doctor, turned consulting detective and parter to the great Sherlock Holmes" rows="40"></textarea>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>