<ion-view view-title="Help">
    <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
    <ion-tabs class="tabs-positive">
        <ion-tab title="Help">
            <ion-view>
                <ion-content>
                Data is stored everywhere!!!
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="About">
            <ion-view>
                <ion-content>
                Created by ME!!!!
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>